<div class="micro-frontend-1">
  <h1>Micro Frontend 1</h1>
  <app-animals-list
    *axLazyElement="microFrontend1;
    errorTemplate: error;
    loadingTemplate: loading"
    [descriptionButton]="descriptionButton"
    (buttonClickedEvent)="buttonClickedEvent($event)"
    >
  </app-animals-list>
  <ng-template #error>Error to load Micro FrontEnd 1</ng-template>
  <ng-template #loading>Loading Micro FrontEnd 1...</ng-template>
</div>
<div class="main-project">
  <h1>Main Project</h1>
  <p>Total received events: {{countEventReceived}}</p>
  <p>Last message: {{lastMessage}}</p> <button (click)="setCookie()">Set Cookie Main Application</button>
</div>
