<div class="micro-frontend-1">
  <h1>Micro Frontend 1</h1>
  <micro-frontend-1
    *axLazyElement="microFrontend1;
    errorTemplate: error;
    loadingTemplate: loading"
    [descriptionButton]="descriptionButton"
    (buttonClickedEvent)="buttonClickedEvent($event)"
    >
  </micro-frontend-1>
  <ng-template #error>Error to load Micro FrontEnd 1</ng-template>
  <ng-template #loading>Loading Micro FrontEnd 1...</ng-template>
  <div>
    <p>Total received events: {{countEventReceived}}</p>
    <p>Last message: {{lastMessage}}</p> <button (click)="setCookie()">Set Cookie Main Application</button>
  </div>
</div>
