<h2>List of popular dogs</h2>

<table aria-describedby="Table with list of popular dogs">
  <button (click)="getDogs()">{{descriptionButton}}</button>
  <thead>
      <th>ID</th>
      <th>Name</th>
  </thead>
  <tbody>
      <tr *ngFor="let dog of dogs">
        <td>{{dog.id}}</td>
        <td>{{dog.name}}</td>
        <td><button (click)="buttonClicked(dog.name)">Choose</button></td>
      </tr>
  </tbody>
</table>
<button (click)="getCookie()">Get Cookie MF Application</button>
<p>Cookie got in MF: {{cookieReceived}}</p>
